.card{
    text-align: center;
    padding-top: 10px;
    /* opacity: 1; */
    margin: 0 15px;
    background: rgba(0,0,0,0);
    border: none;
}

.card-title{
    color: #262626;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.container{
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 800px !important;
    max-width: 1500px !important;
}
img {
    display:block;
    margin:auto;
    border-radius: 20px;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

#infor{
    margin-top: 15px;
}

#text{
    font-family:'initial';
    font-weight:'bold';
    font-size: 35px;
    display:'inline';
}
